.courseCard {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #69BB94;
  margin-bottom: 30px;
}

.left {
  width: 70%;
  margin-right: 30px;
}

.right {
  width: 25%;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.authors, .duration, .creationDate {
  margin-bottom: 15px;
}

.authors {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.span {
  font-weight: 700;
}

.button {
  display: block;
  margin: 0 auto;
}