.button {
  width: 150px;
  height: 35px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #A073C9;
  transition: background-color .2s linear;
}

.button:hover {
  background-color: #A073C9;
}