.textarea {
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px 15px;
  border: 2px solid #F9F9A4;
  resize: vertical;
}

.label {
  display: block;
}

.span {
  display: inline-block;
  margin-bottom: 5px;
}