.header {
  height: 100px;
  padding: 20px;
  border: 2px solid #FAA4A5;
  display: flex;
  margin-bottom: 50px;
}

.headerInfo {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.username {
  margin-right: 50px;
}