.createCourse {
  border: 2px solid #589cc2;
  padding: 20px;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 63px 200px;
  grid-row-gap: 30px;
  margin-bottom: 20px;
}
.titleInput {
  grid-area: 1 / 1 / 2 / 2;
}
.addCourseButton {
  grid-area: 1 / 2 / 2 / 3;
  align-self: flex-end;
  justify-self: right;
}
.descriptionTextarea {
  grid-area: 2 / 1 / 3 / 3;
}

.bottom {
  height: 550px;
  border: 2px solid #000;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 220px);
  grid-column-gap: 100px;
  grid-row-gap: 70px;
}

.addAuthor {
  grid-area: 1 / 1 / 2 / 2;
}
.availableAuthors {
  grid-area: 1 / 2 / 2 / 3;
}
.addDuration {
  grid-area: 2 / 1 / 3 / 2;
}
.courseAuthors {
  grid-area: 2 / 2 / 3 / 3;
}
