.availableAuthorsList {
  height: 220px;
  overflow-y: scroll;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.authorItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.authorName {
  width: 50%;
}